body
    margin: 0
    padding: 0
    background-color: red
nav    
    .molengeek
        width: 100%
        height: 150px
        background-color: #1e1817

        .molen
            color: #e6a434
        .nav
            color: white
        .call
            color: white
