body
    margin: 0
    padding: 0
nav    
    .molengeek
        width: 100%
        height: 100px
        background-color: #1e1817
        display: flex
        justify-content: space-around
        align-items: center
        .molen
            color: #e6a434
            margin-right: 70px
            font-size: 30px
        .nav
            color: white
            // margin-right: 30px
            display: flex
            .menu 
                display: block
                margin: 0 auto
                position: relative
                width: 120px
                padding-left: 0px
                margin-top: 5px
                z-index: 10
                li
                    width: 80px
                    a 
                    color: #fff
                    display: block
                    padding-top: 15px
                    padding-left: 15px
                    text-align: left
                    text-decoration: none
                    width: 150px
                    z-index: 10
                ul 
                    background: #e8e8e8
                    height: 0
                    left: 0
                    opacity: 0
                    position: absolute
                    transition: all .5s ease
                    padding-left: 30px
                    padding-right: 30px
                    text-align: left
                    margin-top: 20px
                    border-radius: 15px
                    z-index: 10
                    // top: 35px
                    // width: 100%
                        // a
                        //     color: #000
                        //     display: block
                        //     padding: 5px 20px    
                li:hover
                    ul
                        height: 120px
                        opacity: 1
                        transform: translateY(0)
                        z-index: 10
                ul
                    li:hover
                        background-color: #c1c1c1
                        width: 100%
                        z-index: 10
                li
                    a
                            text-decoration: none
                            color: white
                            z-index: 10
                li
                    a:hover
                            text-decoration: none
                            color: #e6a434
                            z-index: 10
                ul
                    li
                        a
                            color: black
                            padding: 5px
                ul
                    li
                        a:hover
                            color: black
            a
                margin: 20px
                text-decoration: none
                color: white
            a:nth-child(4)
                margin-right: 0px
            a:nth-child(6)
                margin-left: 0px
            a:hover
                color: #e6a434
                

            
        .call
            color: white
            margin-left: 70px
            display: flex
            align-items: center
            .phone
                margin-right: 15%
                
                i
                    color: #e6a434
            .num
                p:nth-child(1)
                    color: #e6a434
                    margin: 0px
                    padding: 0px
                    font-size: 12px
                p
                    margin: 2px
                    padding: 0px
#carouselExampleControls.carousel.slide
    .carousel-inner
        .bgimg1
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../public/img/carousel-1.jpg")
            background-size: 100%
            height: 600px
            
            .txtcar
                position: absolute
                left: 250px
                top: 200px
                span
                    font-size: 16px
                    color: #e6a434
                h1
                    color: white
                p
                    color: white
                button
                    border: none
                    border-radius: 20px
                    background-color: #e6a434
                    color: white
                    height: 7vh
                    width: 10vw
        .bgimg2
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../public/img/carousel-2.jpg")
            background-size: 100%
            height: 600px
            .txtcar2
                position: absolute
                left: 250px
                top: 200px
                span
                    font-size: 16px
                    color: #e6a434
                h1
                    color: white
                p
                    color: white
                button
                    border: none
                    border-radius: 20px
                    background-color: #e6a434
                    color: white
                    height: 7vh
                    width: 10vw
.accord
    margin-top: 5%
section1
    display: flex
    justify-content: center
    .accord
        border: 3px solid #eaa737
        width: 80%
        display: flex
        justify-content: space-around
        justify-content: center
        .orange1
            display: flex
            justify-content: center
            align-items: center
            margin: 1%
            button
                background-color: #eaa737
                color: white
                width: 280px
                height: 90px
                border-radius: 5px
                border: none
section2
    margin: 7%
    display: flex
    justify-content: center
    justify-content: space-around
    .orangecar
        display: flex
        justify-content: center
        justify-content: space-around
        height: 5px
        transition: margin 0.2s ease-in-out
        .car1
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
            background-color: #fdf4ea
            width: 20vw
            height: 35vh
            transition: 0.5s ease-in-out
            i:nth-child(1)
                padding: 40px
                font-size: 60px
                color: #eaa737
            i
                padding: 40px
                font-size: 30px
    .orangecar:hover
        margin-top: -20px
        .car1:hover
            background-color: white
            box-shadow: 0 0 5px 5px #eeeeeeaf
            opacity: 0,10
section3
    .sec3
        display: flex
        justify-content: center
        align-items: center
        margin-top: 350px
        .pain
            width: 60vw
            height: 60vh
            background-color: #eaa737
            border: 25px solid #fdf4ea
            margin: 10%
            img
                position: relative
                width: 300px
                height: 400px
                border-radius: 10px
            img:nth-child(1)
                right: 100px
                bottom: 100px
            img:nth-child(2)
                left: 230px
                bottom: 330px
    .sec3txt
        margin: auto
        span
            margin-bottom: 20px
            color: #eaa737
        h1
            margin: 1%
        .check
            display: flex
            width: 500px
            justify-content: space-between
            span
                color: black
            i
                color:  #eaa737
        button
            border: none
            width: 10vw
            height: 6vh
            background-color: #eaa737
            color: white
            border-radius: 20px
section4
    display: flex
    justify-content: center
    margin-top: 5%
    .sec4
        width: 80vw
        height: 130vh
        background-color: #fdf4ea
        align-items: center
        justify-content: center
        .sec4orange
            display: flex
            justify-content: center
            align-items: center
            justify-content: space-between
            background-color: #eaa737
            width: 70vw
            height: 20vh
            margin-left: 6%
            border-radius: 0px 0px 10px 10px
            color: white
            span
                margin: 2%
                font-size: 4vh
            .call
                color: white
                display: flex
                margin-top: 10px
                font-size: 3vh
                margin-right: 15px
                .phone
                    margin-bottom: 30px
                    font-size: 5vh
                    transform: rotate(280deg)
                .num
                    margin-bottom: 15px
        .sec4titre
            display: flex
            justify-content: center
            text-align: center
            flex-direction: column
            align-items: center
            margin: 5%
            span
                color: #eaa737
        .flexcard
            display: flex
            justify-content: space-around
            .sec4card
                width: 35vw
                height: 65vh
                background-color: #fefeff
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                margin-top: 4%
                margin: 2%
                text-align: center
                img
                    width: 100%
                    height: 300px
                    margin-top: 5%
                p
                    margin: 2%
                    border: 2px solid #eaa737
                    border-radius: 30px
                    width: 7vw
                span
                    margin-top: 2%
                h2
                    margin-top: 2%
section5
    .sec5
        display: flex
        justify-content: center
        align-items: center
        margin-top: 350px
        margin: 3%
        .pain
            width: 60vw
            height: 60vh
            background-color: #eaa737
            border: 25px solid #fdf4ea
            margin: 10%
            img
                position: relative
                width: 300px
                height: 400px
                border-radius: 10px
            img:nth-child(1)
                right: 100px
                bottom: 100px
            img:nth-child(2)
                left: 230px
                bottom: 330px
    .sec5txt
        margin: auto
        span
            margin-bottom: 20px
            color: #eaa737
        h1
            margin-bottom: 2%
        p
            margin-bottom: 7%
        .check
            display: flex
            width: 500px
            justify-content: space-between
            span
                color: black
            span span
                color: black
                font-weight: bold
                

            i
                color:  white
                background-color: #eaa737
                border-radius: 100%
                border: solid 10px #eaa737
            p
                margin-top: 14px

section6
    .titrepro
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        span
            color: #eaa737
    .chef
        width: 90vw
        height: 415px
        border-radius: 10px
        margin: 5%
        display: flex
        justify-content: center
        justify-content: space-around
        .cardchef
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            background-color: #fdf4ea
            height: 430px
            margin: 10px
            border-radius: 10px
        img
            width:  100%
            height: 100%
            border-radius: 10px 10px 0px 0px
        h5
            margin-top: 5%
        span
            margin-bottom: 5%
section7
    display: flex
    justify-content: center
    align-items: center
    margin-top: 200px
    .carousselb
        background-color: #fdf4ea
        width: 70vw
    .cartitre
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        padding-top: 50px
        margin-bottom: 5px
        span
            color: #eaa737
    .new
        background-color: #eaa737
        display: flex
        justify-content: center
        align-items: center
        justify-content: space-between
        background-color: #eaa737
        width: 60vw
        height: 20vh
        margin-left: 7%
        border-radius: 10px 10px 0px 0px
        color: white
        .orangenew
            display: flex
            align-items: center
            justify-content: space-between
            width: 60vw
            .sign
                margin-right: 5%
                width: 50%
                display: flex
                justify-content: space-between
                border: 2px solid white
                input
                    background-color: #eaa737
                    color: #827c6c
                    border: none
                    margin: 3px
                    width: 100%
                button
                    border: none
                    background-color: black
                    color: white
                    border-radius: 10px
                    width: 90px
                    height: 40px
                    margin: 3px
            h1
                margin-left: 5%
footer
    margin-top: 100px
    background-color: #1e1817
    width: 100%
    height: 400px
    display: flex
    justify-content: space-around
    justify-content: center
    align-items: center
    .noir
        display: flex
        justify-content: space-around
    .txtfoot
        color: white
        display: flex
        flex-direction: column
        line-height: 35px
        margin: 50px
        i
            margin-right: 25px
        a
                text-decoration: none
                color: white
        a:hover
                font-size: 18px
                color: #eaa737
    .iconfoot
        display: flex
        flex-direction: row
        justify-content: space-evenly
        span
            border-radius: 100%
            border: 2px solid white
            i
                margin: 10px
        span:hover
                background-color: white
                color: black
    .txtimg
        margin: 50px
        div
        display: flex
        flex-direction: column
        h2
            color: white
        img
            width: 80px
            height: 60px
            border: 3px solid white
            border-radius: 5px
            margin: 2px
.copy
    background-color: #101110
    width: 100%
    height: 100px
    display: flex
    justify-content: space-around
    .your
        color: white
        span:nth-child(2)
            color: #eaa737
        span:nth-child(2):hover
            color: white
    .disigned
        color: white
        span:nth-child(2)
            color: #eaa737
        span:nth-child(2):hover
            color: white
        span:nth-child(5)
            color: #eaa737
            text-decoration: underline white
        span:nth-child(5):hover
            color: white
.contact
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #7e7f7e
    width: 100%
    height: 300px
    h1
        color: white
    span
        color: white
        span
            color: #eaa737
.titrecontact
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-top: 8%
    span
        color: #eaa737
    h1
        margin-bottom: 1%
.form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    span
        span
            color: #eaa737
    .input1
        width: 700px
        margin-top: 1%
    .input2
        width: 683px
    .input3
        textarea
            width: 683px
            height: 200px
    button
        border: none
        background-color: #eaa737
        color: white
        border-radius: 30px
        width: 180px
        height: 50px
        margin: 1%
#map-container-google-1
    display: flex
    justify-content: center
    align-content: center
    iframe
        width: 80%
        height: 500px
        margin: 7%

.btn1
    background-color: #eaa737
    position: absolute
    top: 565px
    width: 30px
    height: 30px
    right: 1px
    left: 43%
    color: #eaa737
    span
        img
            color: #eaa737
.btn2
    background-color: #eaa737
    position: absolute
    width: 30px
    height: 30px
    left: 49%
    top: 565px
    color: #eaa737
    span
        img
            color: #eaa737
.blanc
    width: 300px
    height: 300px
    background-color: white
    position: relative
    left: 37%
    bottom: 50px
    transform: rotate(45deg)
@media (max-width: 376px)
    body
        .accord
            flex-direction: column
        .blanc
            left: 37%
            height: 100px
            width: 100px
        .molengeek
            flex-direction: column
            height: 340px
            .nav
                a
                    margin: 0px
        .molen
            flex-direction: column
        .nav
            flex-direction: column
            ul.menu
                li
                    padding-left: 0px
                    padding-top: 0px
            a
                margin: 0px
        .txtcar
            button
                width: 110px
                font-size: 10px
        .bgimg1
            background-repeat: no-repeat
            background-size: cover !important
            text-align: center
            justify-content: center
            margin: auto !important
            .txtcar
                flex-direction: row
                justify-content: center
                flex-wrap: wrap
                margin: auto !important
                justify-content: center
        #carouselExampleControls.carousel.slide 
            .carousel-inner 
                .bgimg1 
                    .txtcar
                        flex-direction: row
                        margin: auto !important
                        justify-content: center
                        left: 1px
        #carouselExampleControls.carousel.slide 
            .carousel-inner 
                .bgimg2 
                    .txtcar2
                        flex-direction: row
                        margin: auto !important
                        justify-content: center
                        left: 1px
                        text-align: center

        .bgimg2
            background-repeat: no-repeat
            background-size: cover !important
        .txtcar2
            left: 50px
            button
                width: 110px
                font-size: 10px
        .noir
            flex-direction: column
            justify-content: center
            align-items: center
            flex-wrap: wrap
            height: 300px
            font-size: 16px
        .car1
            span
                font-size: 12px
        .chef
            flex-direction: column
        .sec3
            .pain
                display: none
                height: 30px
                width: 30px
                img
                    height: 30px
                    width: 30px
                    display: none
        .sec3txt
            width: 300px
            .check
                flex-direction: column
                width: 200px
            button
                width: 100px
        .sec4
            .sec4orange
                span
                    font-size: 13px
            .call
                font-size: 12px
                .phone
                    i
                    font-size: 12px
                .num
                    font-size: 12px
            .flexcard
                .sec4card
                    p
                        font-size: 12px
                    span
                        font-size: 12px
        section5            
            .sec5
                .pain
                    display: none
                    img
                        display: none
        section6
            .chef
                flex-wrap: wrap
                .cardchef
                    height: 187px
                    width: 150px
                    h5
                        font-size: 17px
                    span
                        font-size: 12px
        .sec5txt
            width: 300px
            .check
                flex-direction: column
                flex-wrap: wrap
                width: 200px
            button
                width: 100px
        .orangenew
            h1
                font-size: 16px
        .sign
            font-size: 8px
            input
            button
                width: 10px
                height: 20px
        .copy
            font-size: 14px
            .your
                margin: 10px
        .txtimg
            display: none
        .txtfoot:nth-child(2)
            display: none
        .txtfoot:nth-child(3)
            display: none
        .molengeek
            .nav
                ul.menu
                    margin: 0px
                    li
                        padding-left: 0px
                        padding-top: 0px
            .call
                margin: 0px


@media (max-width: 769px)
    body
        .accord
            flex-direction: column
        .blanc
            left: 39%
            height: 140px
            width: 140px
        .molengeek
            flex-direction: column
            height: 340px
            .nav
                a
                    margin: 0px
        .molen
            flex-direction: column
        .nav
            flex-direction: column
            ul.menu
                li
                    padding-left: 0px
                    padding-top: 0px
            a
                margin: 0px
        .txtcar
            button
                width: 110px
                font-size: 10px
        .bgimg1
            background-repeat: no-repeat
            background-size: cover !important
            text-align: center
            justify-content: center
            margin: auto !important
            .txtcar
                flex-direction: row
                justify-content: center
                flex-wrap: wrap
                margin: auto !important
                justify-content: center
        #carouselExampleControls.carousel.slide 
            .carousel-inner 
                .bgimg1 
                    .txtcar
                        flex-direction: row
                        margin: auto !important
                        justify-content: center
                        left: 1px
        #carouselExampleControls.carousel.slide 
            .carousel-inner 
                .bgimg2 
                    .txtcar2
                        flex-direction: row
                        margin: auto !important
                        justify-content: center
                        left: 1px
                        text-align: center

        .bgimg2
            background-repeat: no-repeat
            background-size: cover !important
        .txtcar2
            left: 50px
            button
                width: 110px
                font-size: 10px
        .noir
            justify-content: center
            align-items: center
            flex-wrap: wrap
            height: 300px
            font-size: 16px
        .car1
            span
                font-size: 12px
        .chef
            flex-direction: column
        .sec3
            .pain
                display: none
                height: 30px
                width: 30px
                img
                    height: 30px
                    width: 30px
                    display: none
        .sec3txt
            width: 300px
            .check
                flex-direction: column
                width: 200px
            button
                width: 100px
        .sec4
            .sec4orange
                span
                    font-size: 13px
            .call
                font-size: 12px
                .phone
                    i
                    font-size: 12px
                .num
                    font-size: 12px
            .flexcard
                .sec4card
                    p
                        font-size: 12px
                    span
                        font-size: 12px
        section5            
            .sec5
                .pain
                    display: none
                    img
                        display: none
        section6
            .chef
                flex-wrap: wrap
                justify-content: center
                align-content: center
                .cardchef
                    height: 187px
                    width: 150px
                    h5
                        font-size: 17px
                    span
                        font-size: 12px
        .sec5txt
            width: 300px
            .check
                flex-direction: column
                flex-wrap: wrap
                width: 200px
            button
                width: 100px
        .orangenew
            h1
                font-size: 16px
        .sign
            font-size: 8px
            input
            button
                width: 10px
                height: 20px
        .copy
            font-size: 14px
            .your
                margin: 10px
        .txtimg
            height: 300px
        .txtfoot
            height: 300px
        .txtfoot:nth-child(2)
            display: none
            
        .txtfoot:nth-child(3)
            display: none
        .molengeek
            .nav
                ul.menu
                    margin: 0px
                    li
                        padding-left: 0px
                        padding-top: 0px
            .call
                margin: 0px
        .main-card
            .cards
                .card
                    width: 150px