/* Error: Inconsistent indentation, expected 12 spaces.
 *     ,
 * 444 |     align-items: center
 *     | ^^^^
 *     '
 *   public\sass\style.sass 444:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Inconsistent indentation, expected 12 spaces.\a     \2577 \a 444 \2502      align-items: center\d\a     \2502  ^^^^\a     \2575 \a   public\\sass\\style.sass 444:1  root stylesheet";
}
