/* Error: Expected expression.
 *     ,
 * 267 |             border-radius: 
 *     |                            ^
 *     '
 *   public\sass\style.sass 267:28  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a     \2577 \a 267 \2502              border-radius: \a     \2502                             ^\a     \2575 \a   public\\sass\\style.sass 267:28  root stylesheet";
}
